body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: floralwhite;
}

.header{
    margin-top: 28px;
    margin-left: 35vw;
    padding: 0px;
    font-size: 24px;
    height: 17vh;
    width: 30vw;
    text-align: center;
    border: 4px solid black;
    background-color: bisque;
    box-shadow: 0px 0px 20px gray;
}

.frame{
    border: 4px solid black;
    background-color: bisque;
    margin-top: 12px;
    margin-left: 30vw;
    height: 75vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px gray;
}

.history{
    background-color:chocolate;
    border: 1px solid black;
    width: 40vw ;
    height: 4vh;
}

.userinput{
    background-color: lightsalmon;
    border: 1px solid black;
    font-size: 50px;
    text-align: right;
    width: 40vw;
    height: 10vh;
}

.row{
    margin-top: 6.5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bt{
    transform: scale(3);
    width: 3vw;
    background-color: lightsalmon;
    cursor: pointer;
    transition: 0.5s ease;
}

.bt:hover,
.bt2:hover{
    background-color: antiquewhite;
    transform: scale(3.1);
}

.r2,
.r3,
.r5,
.r4{
    margin-top: 8vh;
}

.bt2{

    transform: scale(3);
    width: 6.4vw;
    background-color: lightsalmon;
    cursor: pointer;
    transition: 0.5s ease;
}